@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');

.category {
    width: 100%;
    border-radius: 0.875rem;
    border: 3px solid #101010;
    background: #1e1e1e;
    box-shadow: 0px 0px 31.2px -8px rgba(0, 0, 0, 0.25);
    position: relative;
    min-height: 5rem;
    transition: all 0.5s ease-in-out;
}

.category-title {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0rem 0rem .875rem 0rem;
    border-right: 3px solid #101010;
    border-bottom: 3px solid #101010;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 12.2px 0px rgba(0, 0, 0, 0.25);
    color: #5b5b5b;
    font-size: 24px;
    font-family: K2D;
    font-weight: 600;
    word-wrap: break-word;
    padding: 0.5rem 1rem 0.5rem 1rem;

}

.app-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.5rem;
    padding: 1rem;
    gap: 2rem;
}

@media (max-width: 576px) {
    .category-title {
        font-size: 18px;
    }

    .app-container {
        gap: 1rem;
        margin-top: 3rem;
    }
}

